
<div class="row">
  <%= form_with(model: section) do |form| %>
    <% if section.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

        <ul>
          <% section.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :location %></p></strong></div>
      <div class="col-sm-8"><%= form.text_field  :location %></div>    
    </div>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :title %></p></strong></div>
      <div class="col-sm-8"><%= form.text_field  :title %></div>    
    </div>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :visible %></p></strong></div>
      <div class="col-sm-8"><%= form.check_box  :visible %></div>    
    </div>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :position %></p></strong></div>
      <div class="col-sm-8"><%= form.number_field  :position %></div>    
    </div>


    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>