<div class="row">
  <%= form_with(model: sponsor) do |form| %>
    <% if sponsor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

        <ul>
          <% sponsor.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :title %></p></strong></div>
      <div class="col-sm-8"><%= form.text_field  :title %></div>    
    </div>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :website %></p></strong></div>
      <div class="col-sm-8"><%= form.text_field  :website %></div>    
    </div>


    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>


