<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2"><strong><p>Title:</p></strong></div>
  <div class="col-sm-8"><p><%= @sponsor.title %></p></div>
</div>
<div class="row">
  <div class="col-sm-2"><strong><p>Website:</p></strong></div>
  <div class="col-sm-8"><p><%= @sponsor.website %></p></div>
</div>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
