
<div class="row">
  <%= form_with(model: album) do |form| %>
    <% if album.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

        <ul>
          <% album.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :title %></p></strong></div>
      <div class="col-sm-8"><%= form.text_field  :title %></div>    
    </div>
    <div class="row">
      <div class="col-sm-2"><strong><p><%= form.label :description %></p></strong></div>
      <div class="col-sm-8"><%= form.text_area :description %></div>    
    </div>


    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

