<h1>Photos</h1>
<% @albums.each do |alb| %>
<h2><%= alb.title %></h2>
<p> <%= alb.description %> </p>
	<div class="row mx-5 mb-5">
		<% alb.photos.each do |photo| %>
			<div class="col-md-4">
				<h4><%= photo.title %></h4>
				<%= image_tag photo.image, class:"w-100" %>
				<p><%= photo.description %></p>
			</div>
		<% end %>
	</div>
<% end %>